*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----- form_validation.php -----*/
.container{
    display: flex;
    flex-direction: column;
    margin: 8% 36% 0 36%;
    padding: 24px 30px 34px 30px;
    /* border: 1px solid gray; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card{
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 26px 0;
    padding-top: 14px;
}

input{
    padding: 14px 0;
    font-size: 1.1rem;
}

.register{
    background-color:#228be6;
    color: white;
    border: none;
    cursor:pointer;
    border-radius: 5px;
}

.register:hover{
    background-color: #1864ab;
}

.user-input{
    padding-left: 10px;
}

.card img{
    width: 50%;
    height: 150px;
}

.error{
    color: red;
}
